.wrapper{
    border: 1px solid black;
    padding: 1em;
}
.wrapper div{
    background: rgb(221, 220, 220);
    border: 1px solid black;
    padding: 1em;
    text-align: center;
    width: 70%;
    margin: 1em;

}
.flex-container{
    display: flex;
    flex-direction: column-reverse;
}